<div class="my-5 w-75 mx-auto">
    <h2 class="mb-3 fw-bold fs-4 text-main">Reset Password:</h2>
    <div *ngIf="errMessage.length > 0" class="alert alert-danger">
        <h5 class="text-center">{{errMessage}}</h5>
    </div>

        <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword(resetPassForm)">
            
            <div class="mb-4">
                <label for="">email:</label>
                <input formControlName="email" type="email"
                [class.is-invalid]="resetPassForm.get('email')?.errors&&resetPassForm.get('email')?.touched"
                [class.is-valid]="resetPassForm.get('email')?.errors == null"
                class="form-control" />
                <div *ngIf="resetPassForm.get('email')?.errors&&resetPassForm.get('email')?.touched" class="alert alert-danger">
                    <p class="text-center" *ngIf="resetPassForm.get('email')?.getError('required')">Required input</p>
                    <p class="text-center" *ngIf="resetPassForm.get('email')?.getError('email')">enter a valid email</p>
                  
                   </div>
            </div>
            <div class="mb-4">
                <label for="newPassword">New Password:</label>
                <input formControlName="newPassword"  type="password"
                [class.is-invalid]="resetPassForm.get('newPassword')?.errors&&resetPassForm.get('newPassword')?.touched"
                [class.is-valid]="resetPassForm.get('newPassword')?.errors == null"
                class="form-control" />
                <div *ngIf="resetPassForm.get('newPassword')?.errors&&resetPassForm.get('newPassword')?.touched" class="alert alert-danger">
                    <p class="text-center" *ngIf="resetPassForm.get('newPassword')?.getError('required')">Required input</p>
                    <p class="text-center" *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">enter a valid password</p>
                </div>
            </div>
           
            <button type="submit" class="btn btn-outline-success px-4">Reset Password <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
        </form>
    </div>
