<div class="container my-4">
    <h2 class="my-3 fw-bold fs-4 text-main text-center">Change Password:</h2>
    <div *ngIf="errMessage?.length > 0" class="alert alert-danger w-75 mx-auto">
        <h5 class="text-center">{{errMessage}}</h5>
    </div>
    <form class="w-75 mx-auto bg-light p-4" [formGroup]="changePasswordForm" (ngSubmit)="changePass(changePasswordForm)">
            
        <div class="mb-4">
            <input formControlName="currentPassword"  type="password" placeholder="Current Password"
            [class.is-invalid]="changePasswordForm.get('currentPassword')?.errors&&
            changePasswordForm.get('currentPassword')?.touched"
            [class.is-valid]="changePasswordForm.get('currentPassword')?.errors == null"
            class="form-control" />
            <div *ngIf="changePasswordForm.get('currentPassword')?.errors&&changePasswordForm.get('currentPassword')?.touched" class="alert alert-danger">
                <p class="text-center" *ngIf="changePasswordForm.get('currentPassword')?.getError('required')">Required input</p>
            </div>
        </div>

        <div class="mb-4">
            <input formControlName="password"  type="password" placeholder="New Password"
            [class.is-invalid]="changePasswordForm.get('password')?.errors&&
            changePasswordForm.get('password')?.touched"
            [class.is-valid]="changePasswordForm.get('password')?.errors == null"
            class="form-control" />
            <div *ngIf="changePasswordForm.get('password')?.errors&&changePasswordForm.get('password')?.touched" class="alert alert-danger">
                <p class="text-center" *ngIf="changePasswordForm.get('password')?.getError('required')">Required input</p>
                <p class="text-center" *ngIf="changePasswordForm.get('password')?.getError('pattern')">enter a valid password</p>
            </div>
        </div>

        <div class="mb-4">
            <input formControlName="rePassword"  type="password" placeholder="rePassword"
            [class.is-invalid]="changePasswordForm.get('rePassword')?.errors&&
            changePasswordForm.get('rePassword')?.touched"
            [class.is-valid]="changePasswordForm.get('rePassword')?.errors == null"
            class="form-control" />
            <div *ngIf="changePasswordForm.get('rePassword')?.errors&&changePasswordForm.get('rePassword')?.touched" class="alert alert-danger">
                <p class="text-center" *ngIf="changePasswordForm.get('rePassword')?.getError('required')">Required input</p>
                <p class="text-center" *ngIf="changePasswordForm.get('rePassword')?.getError('pattern')">enter a valid password</p>
                <p class="text-center" *ngIf="changePasswordForm.get('rePassword')?.getError('repasswordmatch')">rePassword not matched</p>
            </div>
        </div>
       
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-outline-success px-4">Confirm</button>
        <a routerLink="/forgotPass" class="text-muted fw-bolder cursor-pointer ms-3 font-sm">Forgot Current Password?</a>
    </form>
</div>