nav{
    transition: all 1s;
}

.btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}