<div class="container my-4 py-4 bg-light pShadow">
    <ul class="fa-ul fs-4 fw-bold">
        <li class="my-3"><span class="fa-li"><i class="fa-solid fa-hand-pointer fa-rotate-90 text-main"></i></span>
            <span role="button" routerLink="/changePass">Change password</span>
        </li>

        <li class="my-3"><span class="fa-li"><i class="fa-solid fa-hand-pointer fa-rotate-90 text-main"></i></span>
            <span role="button" routerLink="/changeData">Change user data</span>
        </li>

        <li class="my-3"><span class="fa-li"><i class="fa-solid fa-hand-pointer fa-rotate-90 text-main"></i></span>
            <span role="button" routerLink="/allorders">Display your orders</span>
        </li>
      </ul>
    
</div>
