<div class="forgotPassword">
    <form [formGroup]="forgotPasswordForm" (submit)="forgotPass(forgotPasswordForm)" class="w-75 mx-auto my-5">
        <h2 class="mb-3 fw-bold fs-4 text-main">Forgot Password:</h2>
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control">

        <p class="text-success my-2 fs-5" *ngIf="successMessage.length > 0">{{successMessage}}</p>
        <p class="text-danger my-2 fs-5" *ngIf="errMessage.length > 0">{{errMessage}}</p>

        <button  type="submit" class="btn btn-outline-success mt-3 text-center">Send Code</button>
    </form>
</div>

<div class="resetCode d-none">
    <form [formGroup]="resetCodeForm" (submit)="verifyCode(resetCodeForm)" class="w-75 mx-auto my-5">
        <h2 class="mb-3 fw-bold fs-4 text-main">Reset Code:</h2>
        <label for="resetCode">Code</label>
        <input formControlName="resetCode" type="text" id="resetCode" class="form-control">

        <p class="text-success my-2 fs-5" *ngIf="successMessage.length > 0">{{successMessage}}</p>
        <p class="text-danger my-2 fs-5" *ngIf="errMessage.length > 0">{{errMessage}}</p>

        <button [disabled]="resetCodeForm.invalid" type="submit" class="btn btn-success mt-3 text-center">Send</button>
    </form>
</div>
